body {
	background-color: black;
	color: white;
	font-family: Arial;
}

h1 {
	font-family: Verdana;
	color: grey;
}

/* Wrapper for the form content */
#wrapper {
	margin-left: 100px;
	margin-bottom: 30px;
}

label, button {
	width: 120px;
	display: inline-block;
}

.maindiv {
	background-color: white;
	color: black;
	width: 540px;
	padding: 20px;
	border-radius: 25px;
	margin: 0 auto;
}
